@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

* {
    font-family: 'Archivo', sans-serif;
}

header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:hsl(209,100%,38%);
    width: 100%;
   
}

header>h1, header>nav>ul>li>a {
    color:white;
}

header>nav>ul>li {
    margin-left: 12px;
    margin-right: 12px;
}

header ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

li {
    margin-left: 12px;
    margin-right: 12px;
}

button {
    background-color: hsl(0,0,100);
    color: hsl(209,100%,38%);
    border: none;
    padding: 16px;
    font-weight: 700;
    border-radius: 3px;
    margin-right: 2em;  
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

h1 {
    margin-left: 2em;
}


main {
    display:flex;
}

#pitch {
    margin: 0 auto;
    margin-block-start: 4em;
    float:right;
    width:25%;
}

#highlight_box { 
    margin: 0 auto;
    margin-block-start: 4em;
    float:right;
    width:25%;
}

#testimonial {
    margin-block-start: 4em;
    text-align: center;

}

ul {
    list-style: none;
}

.rows {
    display: flex;
    flex-flow: row nowrap;
}

nav {
     
    float: right;
}

footer {
    width: 100%;
    display: block;
    position: fixed;
    bottom:0;
    left: 0;
    height: auto;
}

.productlist {
    float: left;
    flex-wrap:nowrap;
    grid-template-columns: 189px 189px 189px 189px;
    height: 120px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    width: 100px;
    list-style: none;
}
 

hr {
     width: 100%;
}


